<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <form action="/views/biblioteca/index.html">
        <h2>login</h2>
        <label for="username">username</label>
        <input type="text" id="username">

        <label for="password">password</label>
        <input type="password" id="password">
        
        <input type="submit" class="btn-1" value="iniciar">
        <p>crear cuenta <a href="/views/inicio_sesion/registro.html">registrarce</a></p>
        


    </form>

</body>
</html> 
