<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <div class="registro-container">
        <h2>Registrarte</h2>
        <p>Es rápido y fácil.</p>
        <form action="#" method="post">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido" placeholder="Apellido" required>
            <input type="text" name="contacto" placeholder="Número de celular o correo electrónico" required>
            <input type="password" name="contrasena" placeholder="Contraseña nueva" required>
             
            <div class="sexo">
                <label for="sexo">Sexo</label>
                <div class="radios">
                    <input type="radio" name="sexo" value="mujer"> Mujer
                    <input type="radio" name="sexo" value="hombre"> Hombre
                    <input type="radio" name="sexo" value="personalizado"> Personalizado
                </div>
            </div>
            <a href="/views/biblioteca/index.html"> 
             <button type="submit">Registrarte</button>
            </a> 
        </form>
    </div>
</body>
</html>
