* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: helvetical Neue, sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/img/sesion.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgba(249, 249, 249, 0.655);
    color: rgb(12, 12, 16);
    font-size: 26px;
}